{% extends 'base.html' %}

{% block content %}
 
<body id="idbody"></body>

<nav class="navbar navbar-expand-lg navbar-light border-bottom border-dark sticky-top" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/main">
            <img src="static/logo.jpg" class="img-thumbnail" alt="" style="width: 180px; height: 80px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/main">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post_create">Добавить пост</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/settings">Настройки</a>
                </li>
            </ul>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/profile">
                        <img src= "{{ avatar.url }}" class="img-fluid avatarstyle">
                    </a>
                    <a class="nav-link d-inline" href="/profile">{{ user.username }}</a>
                    <a class="nav-link d-inline" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% for post in posts %}
    <div class="container">
        <div class="col-md-7" style="margin: 20px;">
            <div class="card border border-dark">
                <div class="card-body">
                    {{ post.user }}
                    <div class="d-inline-block float-end">{{ post.created_date }}</div>
                </div>
                <img src= "{{ post.photo.url }}" class="img-fluid">
                <div class="card-body">
                    <p class="card-text"> <b>{{ post.user }}:</b> {{ post.caption }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="card-link text-secondary" style="text-decoration: underline;"> 
                        {% if post.comm != 0 %}
                            Комментарии ({{ post.comm }})
                        {% else %}
                            Комментарии
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
